<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.vinneytoy.mappers.RegisterMapper">

    <insert id="register" parameterType="Register" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO toys.toys_account (account_name, account_password, role_id)
        VALUES (#{userName}, #{userPassword}, '2');

        INSERT INTO toys.toys_user_profile
        (user_first_name, user_last_name, user_gender, user_dob, account_id, user_phone_number)
        VALUES (#{firstName}, #{lastName}, #{gender}, #{dob}, #{accoutId}, #{phone});
    </insert>

    <select id="selectUserId" parameterType="Register" resultType="int">
        SELECT MAX account_id
        FROM toys.toys_account;
    </select>

</mapper>